html { /*------------ 100% высота контейнера div.page  */
height: 100%;
}

body {
/*--------------- 100% высота контейнера div.page  */
height: 100%;
min-height:100%;
/*background: #e4fcfd;*/
background: #FFF;
min-width:1000px;
}
.index {
background: #ffffff;
}

/*  онтейнер всего содержимого кроме подвала */
.page {
height: 100%;
height: auto !important;
min-height:100%;
/*----------------------- 100% высоты контейнера относительно клиентской области и контента дл€ IE, FF, Opera */
margin:0 auto;
width:100%;
overflow:hidden;
/*background:  url('/images/top0.jpg') repeat-x 0 0;*/
}
.index .page {
/*background:  url('/images/top.jpg') repeat-x 0 0;*/
}


/*  онтейнер шапки */
header {
margin:0 auto;
width:100%;
position:relative;
z-index:10;
height:184px;
}
.header {
margin:0 auto;
width:980px;
position:relative;
}

/* ѕатч дл€ установки минимальной высоты в IE */

.footer_guarantor {
height:150px;
clear: both;
}

.sidebar_l  {
float:left;
width:234px;
position:relative;
}
.index .center_content {
float:left;
width:100%;
margin:0 0 -80px 0;
}
.center_content {
float:right;
width:726px;
}


.index .main {
width:100%;
}
.main {
clear:both;
margin:0 auto;
width:980px;
position:relative;
}


/*  онтейнер подвала */
footer {
clear:both;
width:100%;
margin:-140px auto 0 auto;
height:140px;
/*background:  url('/images/bot0.jpg') repeat-x 0 bottom;*/
}
.index footer {
/*background:  url('/images/bot.jpg') repeat-x 0 bottom;*/
}



/* RESET */
body, div, dl, dt, dd, ol,li,ul, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { 
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
	border:0;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
  border:0;
}
/* END OF RESET */