/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Alex Rabe
Version: 2.11

This is a template stylesheet that can be used with NextGEN Gallery. I tested the
styles with a default theme Kubrick. Modify it when your theme struggle with it,
it's only a template design

*/

/* ----------- Album Styles Extend -------------*/

.ngg-albumoverview {
  display: block !important;
  clear: both;

  width: 100%;
  margin-top: 10px;
}

.ngg-album {
  height: 100%;
  margin-bottom: 5px;
  padding: 5px;

  border: 1px solid #fff;
}

/* IE6 will ignore this , again I hate IE6 */
/* See also http://www.sitepoint.com/article/browser-specific-css-hacks */

html > body .ngg-album,
.ngg-album {
  overflow: hidden;

  margin-bottom: 5px;
  padding: 5px;

  border: 1px solid #ccc;
}

.ngg-albumtitle {
  font-size: 1.4em;
  font-weight: bold;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  text-align: left;
}

.ngg-thumbnail {
  float: left;

  margin-right: 12px;
  img {
    position: relative;

    margin: 4px 0 4px 5px;
    padding: 4px;

    border: 1px solid #a9a9a9;
    background-color: #fff;
    &:hover {
      background-color: #a9a9a9;
    }
  }
}

.ngg-description {
  text-align: left;
}

/* ----------- Album Styles Compact -------------*/

.ngg-album-compact {
  float: left;

  width: 120px;
  margin: 0 !important;
  padding-right: 6px !important;

  text-align: left;
}

.ngg-album-compactbox {
  width: 120px;
  height: 86px;
  margin: 0 0 6px !important;
  padding: 12px 0 0 7px !important;

  background: transparent url(../img/albumset.gif) no-repeat scroll 0;
  .Thumb {
    width: 91px;
    height: 68px;
    margin: 0 !important;
    padding: 0 !important;

    border: 1px solid #000;
  }
}

.ngg-album-compact {
  h4 {
    font-size: 15px;
    font-weight: bold;

    width: 110px;
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    font-size: 11px;

    margin-top: 2px;
  }
}

/* ----------- Gallery style -------------*/

.ngg-galleryoverview {
  display: block !important;
  clear: both;
  overflow: hidden;

  width: 100%;
  margin-top: 10px;
  .desc {
    /* required for description */
    margin: 0 10px 10px 0;
    padding: 5px;
  }
}

.ngg-gallery-thumbnail-box {
  float: left;
}

.ngg-gallery-thumbnail {
  float: left;

  margin-right: 5px;

  text-align: center;
  img {
    position: relative;

    display: block;

    margin: 4px 0 4px 5px;
    padding: 4px;

    border: 1px solid #a9a9a9;
    background-color: #fff;
    &:hover {
      background-color: #a9a9a9;
    }
  }
  span {
    /* Images description */
    font-size: 90%;

    display: block;

    padding-left: 5px;
  }
}

.ngg-clear {
  float: none;
  clear: both;
}

/* ----------- Gallery navigation -------------*/

.ngg-navigation {
  font-size: .9em !important;

  display: block !important;
  clear: both !important;

  padding-top: 15px;
  padding-bottom: 2px;

  text-align: center;
  span {
    font-weight: bold;

    margin: 0 6px;
  }
  a {
    &.page-numbers,
    &.next,
    &.prev {
      margin-right: 3px;
      padding: 3px 8px;

      text-decoration: none;

      border: 1px solid #ddd;
    }
  }
  span {
    &.page-numbers,
    &.next,
    &.prev {
      margin-right: 3px;
      padding: 3px 8px;

      text-decoration: none;

      border: 1px solid #ddd;
    }
  }
  a {
    &.page-numbers:hover,
    &.next:hover,
    &.prev:hover {
      text-decoration: none !important;

      color: #fff !important;
      background-color: #06c;
    }
  }
  span {
    &.page-numbers:hover,
    &.next:hover,
    &.prev:hover {
      text-decoration: none !important;

      color: #fff !important;
      background-color: #06c;
    }
  }
}

/* ----------- Image browser style -------------*/

.ngg-imagebrowser {
  h3 {
    text-align: center;
  }
  img {
    display: block !important;

    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;

    border: 1px solid #a9a9a9;
  }
}

.ngg-imagebrowser-nav {
  margin-left: 10px;
  padding: 5px;
  .back {
    float: left;

    margin-right: 3px;
    padding: 3px 7px;

    border: 1px solid #ddd;
  }
  .next {
    float: right;

    margin-right: 3px;
    padding: 3px 7px;

    border: 1px solid #ddd;
  }
  .counter {
    font-size: .9em !important;

    text-align: center;
  }
}

.exif-data {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* ----------- Slideshow -------------*/

.slideshow {
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  outline: none;
}



/* ----------- JS Slideshow -------------*/

.ngg-slideshow {
  position: relative;

  overflow: hidden;
  * {
    vertical-align: middle;
  }
}

/* See also : http://www.brunildo.org/test/img_center.html */

.ngg-slideshow-loader {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  img {
    margin: auto !important;

    border: 0 none !important;
    background: none !important;
  }
}

/* ----------- Single picture -------------*/

.ngg-singlepic {
  display: block;

  padding: 4px;

  background-color: #fff;
}

.ngg-left {
  float: left;

  margin-right: 10px;
}

.ngg-right {
  float: right;

  margin-left: 10px;
}

.ngg-center {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* ----------- Sidebar widget -------------*/

.ngg-widget,
.ngg-widget-slideshow {
  overflow: hidden;

  margin: 0;
  padding: 5px 0 0 0;

  text-align: left;
}

.ngg-widget img {
  margin: 0 2px 2px 0;
  padding: 1px;

  border: 2px solid #a9a9a9;
}

/* ----------- Related images -------------*/

.ngg-related-gallery {
  overflow: hidden;

  margin-top: 1em;
  margin-bottom: 1em;
  padding: 5px;

  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  img {
    float: left;

    width: 50px;
    height: 50px;
    margin: 0 3px;
    padding: 2px;

    border: 1px solid #ddd;
    &:hover {
      border: 1px solid #000;
    }
  }
}

/* ----------- Gallery list -------------*/

.ngg-galleryoverview ul li:before {
  content: '' !important;
}

.ngg-gallery-list {
  padding: 0 !important;

  list-style-type: none;

  text-indent: 0 !important;
}

.ngg-galleryoverview div.pic img {
  width: 100%;
}

.ngg-gallery-list li {
  float: left;
  overflow: hidden;

  margin: 0 2px 0 2px !important;
  a {
    display: block;

    padding: 2px;

    border: 1px solid #ccc;
  }
  &.selected a {
    background: #000 none repeat scroll 0 0;
    -moz-background-clip: border;

    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
  }
  img {
    width: 40px;
    height: 40px;
  }
}

li {
  &.ngg-next,
  &.ngg-prev {
    font-size: 3.5em;

    width: 40px;
    height: 40px;
  }
  &.ngg-next a,
  &.ngg-prev a {
    padding-top: 10px;

    text-decoration: none;

    border: none;
  }
}

#TB_window {
  z-index: 9999 !important;
}
