@import 'import/variables';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'sprite';
html {
  height: 100%;
}

body {
  min-width: 1000px;
  height: 100%;
  min-height: 100%;

  background-color: #044eaf;
  background-image: url('../img/bg_out_leto3.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.index {
  background: #fff;
}


.page {
  overflow: hidden;

  width: 100%;
  height: 100%;
  height: auto !important;
  min-height: 100%;
  margin: 0 auto;
}

header {
  position: relative;
  z-index: 10;

  width: 100%;
  height: 184px;
  margin: 0 auto;
}

.header {
  position: relative;

  width: 980px;
  margin: 0 auto;
}

.footer_guarantor {
  clear: both;

  height: 150px;
}

.sidebar_l {
  position: relative;

  float: left;

  width: 234px;
}

.index .center_content {
  float: left;

  width: 100%;
  margin: 0 0 -80px 0;
}

.center_content {
  float: right;

  width: 726px;
}

.index .main {
  width: 100%;
}

.main {
  position: relative;

  clear: both;

  width: 980px;
  margin: 0 auto;
}

footer {
  clear: both;

  width: 100%;
  height: 140px;
  margin: -140px auto 0 auto;
}

/* RESET */

body,
div,
dl,
dt,
dd,
ol,
li,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

fieldset,
img {
  border: 0;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q {
  &:before,
  &:after {
    content: '';
  }
}

abbr,
acronym {
  border: 0;
}

/* END OF RESET */
@import 'prettyPhoto';
@import 'nggallery';
@import 'style';
.country-list.hide, #rc-connect, .rc-button {
  display: none;
}

#maincontainer {
  float: none;
  margin: 10px 10px 10px 10px;
}

#main {
  position: relative;
  overflow: hidden;
  width: 718px;
  height: 280px;

  a {
    text-decoration: none !important;
    border: none !important;
    outline: none !important;

    img {
      text-decoration: none !important;
      border: none !important;
      outline: none !important;
    }
  }

  h4 {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #fff !important;
  }

  .cs-title {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #fff !important;
    background: #222;
    position: absolute;
    width: 708px;
    padding: 10px;
  }
}

#maincontainer .cs-buttons {
  font-size: 0;
  float: left;
  clear: both;
  margin: 10px 0 10px 300px;
}

#cs-button-main {
  z-index: 999;
  outline: none;
}

#maincontainer {
  .cs-buttons {
    font-size: 0;
    float: left;
    padding: 10px;
    outline: none !important;

    a {
      float: left;
      width: 15px;
      height: 15px;
      margin-left: 5px;
      text-indent: -1000px;
      outline: none !important;
      background: url('../img/default_style.png') no-repeat;
      background-position: top;

      &:hover {
        top: 15px;
        outline: none !important;
        background: url('../img/default_style.png') no-repeat;
        background-position: bottom;
      }
    }
  }

  a.cs-active {
    outline: none !important;
    background: url('../img/default_style.png') no-repeat;
    background-position: bottom;
  }
}

#main {
  .cs-prev, .cs-next {
    outline: none;
  }

  .cs-prev, .cs-next {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px !important;
    font-weight: bold;
    padding: 0 10px !important;
    color: #fff !important;
    border-radius: 5px;
    background: #222 !important;
  }

  border: 0 solid #fff;
  border-radius: 0;

  img {
    border: 0 solid #fff;
    border-radius: 0;
  }
}

#rc-phone-button.rc-pressed:hover {
  background-color: rgb(19, 133, 33) !important;
}

@import 'base64';
@import 'import/print';
