body {
font-size: 14px;
font-family:  arial, tahoma;
color:#636363;
margin: 0 auto;
padding: 0;
}

header {
height: 245px !important;
}

.index .center_content {
font-size: 14px;
}

.center_content {
font-size: 12px;
color:#393a3a;
}

a { 
color:#05a1ab;
outline:0;
text-decoration: underline;
}
a:hover{ 
color:#f18a71;
text-decoration: underline;
}

.logo_top {
width:648px;
position:absolute;
z-index:100;
top:21px;
left:0px;
}
.logo_top a {
display:block;
}
.logo_top h3 {
font-size:14px;
display:block;
margin:-8px 0 0 24px;
}


.tel_block {
width:180px;
right:0;
top:14px;
position:absolute;
z-index:400;
padding:0 0 0 22px;
border-left:1px #f9cfb8 solid;
}
.tel_block  .tel {
font-size:32px;
color:#23d2e0;
line-height:32px;
display:block;
margin: 0 0 3px 0;
}
.tel_block  .tel span {
color:#de2c2c;
}
.tel_block .link_call, .tel_block .link_mail {
font-size:14px;
color:#f18a71;
margin: 0 0 4px 22px;
display:block;
position:relative;
}
.tel_block .link_call:hover, .tel_block .link_mail:hover {
text-decoration:none;
}
.tel_block .link_call:before, .tel_block .link_mail:before {
content:"";
position:absolute;
left:-22px;
top:-1px;
width:20px;
height:22px;
background: url('/images/icons1.png') no-repeat 0 0;
}
.tel_block .link_mail:before { 
background-position: 0 -22px;
top:2px;
}


.menu_top {
width:100%;
z-index:100;
left:0;
top:205px;
position:absolute;
}
.menu_top ul {
}
.menu_top li a {
color:#027279;
display:inline-block;
}
.menu_top li a:hover{ 
color:#f18a71;
text-decoration: underline;
}
.menu_top li {
float:left;
position:relative;
margin:0 40px 0 0;
font-size:20px;
line-height:20px;
/*height:64px;*/
}

.menu_top .cont_top {
float:right;
position:relative;
margin:0 10px 0 0 !important;
font-size:20px;
line-height:20px;
/*height:64px;*/
}

.menu_top .link-1 {
font-size:16px;
margin:0;
width:234px;
text-align:right;
border:1px #7db5de solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
behavior: url(css/PIE.htc);
position:relative;
background: #a2dbff; /* for non-css3 browsers */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a2dbff'); /* для IE6-9 */
background: -webkit-linear-gradient(top, #ffffff, #a2dbff); /* для webkit-браузеров */
background: -moz-linear-gradient(top,  #ffffff,  #a2dbff); /* для firefox 3.6+ */ 
background: -o-linear-gradient(top,  #ffffff,  #a2dbff); /* для Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff,  #a2dbff); /* для IE10+ */
background: linear-gradient(top,  #ffffff,  #a2dbff); /* W3C */
}
.menu_top .link-1 a {
display:block;
position:relative;
z-index:100;
padding:10px 20px 0 0;
color:#f18a71;
font:30px 'Century Gothic';
font-weight:bold;
text-decoration:none;
}
.menu_top .link-1:hover {
border:1px #f18a71 solid;
}
.menu_top .link-1:before {
content:"";
position:absolute;
z-index:1;
left:3px;
top:1px;
width:244px;
height:65px;
background: url('/images/icons1.png') no-repeat 0 -79px;
}
.menu_top .act a {
text-decoration:none;
color:#f18a71;
}


.title_menu {
font-size:16px;
color:#1a838c;
line-height:16px;
margin:0 0 12px 0;
font-weight:bold;
}
.menu_left  ul {
padding:0 0 16px 15px;
display:block;
}
.menu_left  li a {  
color:#1a838c;
}
.menu_left .act {
font-weight:bold;
text-decoration:none;
color:#f18a71;
}

.menu_left  li a:hover {  
color:#f18a71;
}
.menu_left  li {
display:block;
margin:0 0 12px 0;
font-size:14px;
line-height:14px;
}

.menu_left_block {
margin:0 0 5px 0;
background:#fefdee;
border:1px #95f6fa solid;
padding:16px 17px 5px 17px;
}
.menu_left_block2 {
margin:0 0 10px 0;
background:#fdfadc;
border:1px #95f6fa solid;
padding:16px 17px 2px 17px;
}
.menu_left_block2  li a {
text-decoration:none;
}
.menu_left_block2  li a:hover {
text-decoration: underline;
}
.menu_left_block2  li {
margin:0 0 14px 0;
}

.navigate_block {
float:left;
width:100%;
margin:0 0 25px 0;
position:relative;
z-index:100;
}
.navigate_block a {
float:left;
margin:0 36px 0 0;
position:relative;
}
.navigate_block .act:before {
display:none;
}
.navigate_block .act {
color:#636363;
text-decoration:none;
}
.navigate_block a:before {
content:"";
position:absolute;
right:-25px;
top:8px;
width:15px;
height:6px;
background:  url('/images/arrow.png') no-repeat 0 0;
}



.top_cont_block {
float:left;
width:100%;
background:  url('/images/cont0.jpg') repeat-x 0 bottom;
padding:0 0 37px 0;
border-bottom:1px #71cacf solid;
}
.top_cont_block .cont {
width:980px;
margin:0 auto;
position:relative;
}

.top_cont_block .products_block {
float:left;
width:234px;
}
.sidebar_l .products_block {
float:left;
width:100%;
margin:0 0 3px 0;
}
.products_block li {
margin:0 0 6px 0;
display:block;
height:155px;
overflow:hidden;
position:relative;
border:1px #53bfc5 solid;
}
.products_block li img {
position:relative;
z-index:10;
}
.products_block li .text {
position:absolute;
z-index:100;
bottom:3px;
left:0;
width:232px;
color:#f7d8ae;
font-size:14px;
line-height:16px;
padding:2px 5px 4px 5px;
background: #1d1d1c;
}


.products_block2 {
float:right;
width:460px;
padding:12px 15px 17px 15px;
background:  url('/images/cont.jpg') repeat 0 0;
}
.cont_block .products_block2 {
margin:-2px 0 0 0;
}
.products_block2 li {
border-bottom:1px #a8d7cf solid;
margin:0 0 15px 0;
padding:0 0 13px 0;
float:left;
width:100%;
position:relative;
}
.products_block2 li:last-child {
border:0;
}
.products_block2 .photo {
float:left;
width:260px;
height:173px;
overflow:hidden;
border:1px #45b5b8 solid;
}
.products_block2 .right {
margin: 0 0 0 285px;
padding:0 0 50px 0;
}
.products_block2 .name h2 {
font-size:18px;
line-height:19px;
margin:0;
padding:0;
color:#05a1ab;
}

.products_block2 .name {
display:block;
margin:0 0 16px 0;
text-decoration:none;
}
.products_block2 .text {
padding:0 0 0 20px;
}
.products_block2 .link_more {
float:right;
}
.products_block3 .price, .products_block2 .price {
position:absolute;
right:0px;
bottom:15px;
width:116px;
height:33px;
color:#f67953;
font-size:16px;
font-style:italic;
text-align:center;
display:inline-block;
line-height:30px;
background: #a0e8fa; /* for non-css3 browsers */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9faff', endColorstr='#a0e8fa'); /* для IE6-9 */
background: -webkit-linear-gradient(top, #d9faff, #a0e8fa); /* для webkit-браузеров */
background: -moz-linear-gradient(top,  #d9faff,  #a0e8fa); /* для firefox 3.6+ */ 
background: -o-linear-gradient(top,  #d9faff,  #a0e8fa); /* для Opera 11.10+ */
background: -ms-linear-gradient(top,  #d9faff,  #a0e8fa); /* для IE10+ */
background: linear-gradient(top,  #d9faff,  #a0e8fa); /* W3C */
border:1px #499eb3 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
behavior: url(css/PIE.htc);
}

.link_more {
font-size:14px;
line-height:14px;
position:relative;
}


.products_block3 {
display:block;
margin:0 0 0 -19px;
font-size:14px;
}
.products_block3 li {
background: #e4fcfd;
margin:0 0 1px 0;
padding:11px 0 16px 0;
float:left;
width:100%;
position:relative;
}
.products_block3 .color {
background: #fdf9de;
}
.products_block3 .photo {
float:left;
width:320px;
height:213px;
margin:0 0 0 20px;
overflow:hidden;
border:1px #45b5b8 solid;
}
.products_block3 .right {
margin: 0 5px 0 355px;
padding:0 0 50px 0;
}
.products_block3 .price {
right:15px;
bottom:16px;
}
.center_content .products_block3 .name h2 {
font-size:24px;
line-height:24px;
margin:0;
padding:0;
color:#05a1ab;
}



.products_block3 .name {
display:block;
margin:0 0 7px 0;
text-decoration:none;
}
.products_block3 .text {
padding:0 0 7px 20px;
}


.slider_block {
position:absolute;
top:0;
right:0;
width:721px;
} 
.slider_block:before {
content:'';
bottom:-55px;
left:-50px;
position:absolute;
z-index:10;
width:823px;
height:196px;
background: url('/images/slider_fon.png') no-repeat 0 0;
}

.slider_block .flexslider {
position:relative;
z-index:100;
width:100%;
float:left;
height:480px;
border:1px #43bac2 solid;
}
.slider_block li {

}
.slider_block li img {
position:relative;
z-index:10;
}
.slider_block li .text {
position:absolute;
z-index:100;
bottom:8px;
left:0;
width:691px;
color:#f7d8ae;
font-size:16px;
line-height:19px;
padding:9px 15px 13px 15px;
background: #1d1d1c;
}


.index h1, .index .title, .index .center_content h1 {
font-size:24px;
color:#f59071;
line-height:24px;
margin-bottom:9px;
}

.title2 {
font-size:20px;
color:#027279;
line-height:20px;
margin-bottom:18px;
}

.center_content h1 {
color:#05a1ab;
font-size:24px;
line-height:24px;
margin:0 0 28px 0;
}
.center_content h2 {
color:#393a3a;
font-size:14px;
line-height:14px;
font-weight:bold;
margin:0 0 16px 0;
}


.about_block ul {
margin-bottom:15px;
}

.advantages_block {
position:relative;
margin: 30px 0 0 0;
}
.advantages_block ul {
display:block;
margin:22px 0px -14px 18px;
}
.advantages_block ul li {
padding:0 0 37px 68px;
position:relative;
}
.advantages_block .block-2 {
padding-bottom:33px;
}
.advantages_block .block-3 {
padding-bottom:34px;
}
.advantages_block .block-4 {
padding-bottom:33px;
}

.advantages_block li:before {
content:"";
position:absolute;
left:0px;
top:-14px;
width:55px;
height:52px;
background: url('/images/icons1.png') no-repeat 0 -172px;
}
.advantages_block .block-2:before { 
background-position: 0 -226px;
}
.advantages_block .block-3:before { 
background-position: 0 -276px;
}
.advantages_block .block-4:before { 
background-position: 0 -326px;
}
.advantages_block .block-5:before { 
background-position: 0 -376px;
}


.clear {
clear:both;
}
.center_content p {
margin-bottom:17px;
}
.center_content {
line-height:18px;
}

.cont_block {
float:left;
width:100%;
padding:14px 0 16px 0;
border-bottom:1px #71cacf solid;
}
.cont_block.cont_main {
background:  #e4fcfd;
}
.cont_block .cont {
width:980px;
margin:0 auto;
}
.cont_block .left {
margin:0 510px 0 0;
}
.cont_block:last-child {
border:0;
}


.opinion_block {
float:right;
width:480px;
padding:0 10px 0 0;
}
.opinion_block .block {
margin: 0 0 15px 0;
display:block;
position:relative;
line-height:20px;
}
.opinion_block .text {
padding:0 0 3px 0;
font-style:italic;
line-height:18px;
}
.opinion_block .name {
text-align:right;
display:block;
}


.articles_block {
float:right;
width:480px;
padding:0 10px 0 0;
}
.articles_block li {
margin: 0 0 12px 0;
display:block;
line-height:17px;
}

.sertificate_block .photo {
margin: 0 0 19px 0;
}
.sertificate_block .photo a {
margin: 0 5px 0 0;
display:inline-block;
}

.sidebar_l .sertificate_block {
margin:0 0 10px 0;
border:1px #95f6fa solid;
padding:11px 10px 5px 10px;
background:#fefdee;
display:block;
width:212px;
overflow:hidden;
}
.sidebar_l .sertificate_block .title {
color:#1a838c;
font-size:20px;
text-align:center;
margin:0 0 15px 0;
}
.sidebar_l .sertificate_block  .photo {
width:105%;
margin: 0;
}
.sidebar_l .sertificate_block  .photo a {
margin: 0 5px 12px 0;
}


.gallery_block .block {
margin:0 0 22px 0;
padding:0 0 25px 0;
float:left;
width:100%;
overflow:hidden;
border-bottom:1px #95f6fa dashed;
}
.gallery_block .block:last-child {
border:0;
}

.gallery_block ul {
width:105%;
}
.gallery_block ul li {
width:234px;
float:left;
height:156px;
overflow:hidden;
margin:0 9px 11px 0;
border:1px #95f6fa solid;
}
.gallery_block .link_more {
float:right;
font-size:14px;
margin:3px 0 0 0;
}



.big_photo {
margin:-13px 0 6px 0;
float:left;
width:721px;
border:1px #95f6fa solid;
height:483px;
overflow:hidden;
}
.small_photos {
margin:0 0 18px 0;
float:left;
width:100%;
overflow:hidden;
}
.small_photos li {
height:78px;
width:116px;
float:left;
margin:0 3px 0 0;
border:1px #95f6fa solid;
}
.small_photos ul {
width:105%;
}

.product_more .price_block {
float:right;
width:auto;
padding:0 0 0 15px;
position:relative;
background:#8de4f9;
margin:0 15px 20px 0;
height:34px;
font-size:16px;
color:#f67953;
font-weight:bold;
line-height:33px;
}
.product_more .price_block:before {
content:"";
position:absolute;
right:-15px;
top:0px;
width:15px;
height:34px;
background: url('/images/price.png') no-repeat 0 0;
}
.product_more .price_block .ru, .calculate_form .price_block .ru {
content:"";
display:inline-block;
position:relative;
top:1px;
width:16px;
height:20px;
background: url('/images/rub.png') no-repeat 0 2px;
}
.calculate_form .price_block .ru {
background-position: 0 -37px;
height:25px;
}


.tabs_block {
clear:both;
margin:0 0 10px 0;
}
.tabs {
margin:0 0 20px 0;
float:left;
width:100%;
border-bottom:1px #1a838c solid;
}
.tabs_content {
padding:0 10px;
}
.tabs li {
margin:0 18px 0 0;
float:left;
padding:0 28px;
height:35px;
line-height:35px;
border:2px #fca78d solid;
border-bottom:0;
-webkit-border-top-left-radius: 10px;
-moz-border-top-left-radius: 10px;
border-top-left-radius: 10px;

-webkit-border-top-right-radius: 10px;
-moz-border-top-right-radius: 10px;
border-top-right-radius: 10px;
behavior: url(css/PIE.htc);
position:relative;
}
.tabs li a {
color:#f67953;
font-size:18px;
line-height:18px;
font-weight:bold;
border-bottom:1px #f67953 dashed;
text-decoration:none;
}
.tabs .act a {
color:#1a838c;
border:0;
}
.tabs li a:hover {
border:0;
}
.tabs .act {
border:2px #1a838c solid;
border-bottom:0;
background:#e4fcfd;
height:36px;
line-height:36px;
margin-bottom:-2px;
}


.call_master  {
color:#f67953;
font-size:18px;
font-weight:bold;
text-decoration:none;
height:64px;
line-height:59px;
margin:0;
width:265px;
padding:0 13px 0 0;
text-align:right;
display:inline-block;
border:1px #7db5de solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
behavior: url(css/PIE.htc);
position:relative;
background: #a2dbff; /* for non-css3 browsers */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a2dbff'); /* для IE6-9 */
background: -webkit-linear-gradient(top, #ffffff, #a2dbff); /* для webkit-браузеров */
background: -moz-linear-gradient(top,  #ffffff,  #a2dbff); /* для firefox 3.6+ */ 
background: -o-linear-gradient(top,  #ffffff,  #a2dbff); /* для Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff,  #a2dbff); /* для IE10+ */
background: linear-gradient(top,  #ffffff,  #a2dbff); /* W3C */
}



.call_master:hover {
border:1px #f18a71 solid;
}
.call_master:before {
content:"";
position:absolute;
z-index:1;
left:3px;
top:5px;
width:244px;
height:65px;
background: url('/images/icons1.png') no-repeat -120px -220px;
}

.calculate_block {
clear:both;
margin: 0 0 20px 0;
}
.calculate {
float:left;
background:#fdfadc;
border:1px #92c2b6 solid;
padding:16px 24px 14px 16px;
width:238px;
}
.calculate_block.type2 .calculate {
width:308px;
}

.articles_links  li {
margin:0 0 13px 20px;
font-size:14px;
line-height:16px;
}
.articles_links  li a  {
color:#1a838c;
}
.articles_links  li a:hover  {
text-decoration:none;
}
.articles_links {
margin:0 0 35px 310px;
background:#fdfadc;
border:1px #92c2b6 solid;
padding:16px 24px 14px 16px;
}

.calculate_block.type2 .articles_links {
margin:0 0 13px 369px;
}


.calculate_form .sub {
float:right;
cursor:pointer;
outline:0;
right:0px;
bottom:15px;
width:110px;
height:35px;
color:#f67953;
font-size:16px;
font-weight:bold;
text-align:center;
display:inline-block;
line-height:30px;
background: #a0e8fa; /* for non-css3 browsers */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9faff', endColorstr='#a0e8fa'); /* для IE6-9 */
background: -webkit-linear-gradient(top, #d9faff, #a0e8fa); /* для webkit-браузеров */
background: -moz-linear-gradient(top,  #d9faff,  #a0e8fa); /* для firefox 3.6+ */ 
background: -o-linear-gradient(top,  #d9faff,  #a0e8fa); /* для Opera 11.10+ */
background: -ms-linear-gradient(top,  #d9faff,  #a0e8fa); /* для IE10+ */
background: linear-gradient(top,  #d9faff,  #a0e8fa); /* W3C */
border:1px #499eb3 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
behavior: url(css/PIE.htc);
position:relative;
clear:both;
margin:22px 0 -4px 0;
}

.calculate_form .input_text {
clear:both;
float:right;
border:1px #94c5c9 solid;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
behavior: url(css/PIE.htc);
height:30px;
color:#20a2ad;
font:14px arial;
font-style:italic;
text-align:right;
padding:0 40px 0 0;
display:inline-block;
line-height:30px;
position:relative;
width:68px;
margin:0 0 7px 0;
}
.calculate_block.type2 .calculate_form .input_text {
width:148px;
}
.calculate_form { 
color:#1a838c;
font-size:14px;
line-height:14px;
padding:4px 0 0 0;
}
.calculate_form .text {
float:left;
width:95px;
padding: 9px 0 0 12px;
}




/* SELECT */

.select_block {
position:relative;
clear:both;
float:right;
width:116px;
padding:0;
margin:0 0 7px 0;
}
.calculate_block.type2 .select_block {
width:188px;
}
.select_block .selectbox {
vertical-align: middle;
cursor: pointer;
padding:0;
outline:0;
height:31px;
text-align:center;
display:inline-block;
line-height:30px;
background: #ffffff;  
border:1px #94c5c9 solid;

height:31px;
display:block;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
behavior: url(/css/PIE.htc);
position:relative;
float:right;

}
.selectbox .select {
position:relative;
width:100%;
top:0px;
left:1px;
display:inline-block;
float:right;

z-index:500;
text-align:left;
padding:0;
margin:0;
cursor:pointer;
} 

.selectbox .select:hover {
}
.selectbox .select .text {
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
display:block;
position:relative;
cursor:pointer;
z-index:700;
float:right;
padding:0px 40px 0px 10px;
height:31px;
width:58px;
text-align:right;
color:#20a2ad;
font:14px arial;
line-height:31px;
background:   url('/images/select.png') no-repeat 75px 0;
}
.calculate_block.type2 .selectbox .select .text {
width:138px;
background-position: 155px 0;
}
	.selectbox .select .text b {
		width:0px;height:0px;
		position: relative;
		top:2px;
		display: none;
		vertical-align:baseline;
		}
	.selectbox .select .text b.en {	
		}
	*+html .selectbox .select .text b {display: inline;}


.selectbox ul.dropdown {
list-style:none;
z-index:500;
top:26px;
float:left;
left:-1px;
width:100%;
background:  #ffffff;
border:1px #94c5c9 solid;
border-top:0;
position:absolute;
}
.selectbox ul.dropdown li {
color:#666666;
font:12px arial;
word-wrap: break-word;
overflow:hidden;
padding:5px 0px 5px 8px;
margin:0 0px;
line-height:13px;
text-align:left;
}
.selectbox .select .text i {display:inline;font-style: italic;}
.selectbox .select .text:hover i {}
.selectbox ul.dropdown a:hover, .selectbox ul.dropdown li:hover {color:#444444;background:#e7e7e7;}	

/* end SELECT*/





.calculate .link_order {
color:#f67953;
font-size:18px;
clear:both;
float:right;
margin:0 5px 0 0;
}
.calculate .price_block {
clear:both;
color:#237e84;
font-size:22px;
line-height:22px;
margin:0 0 9px 12px;
}
.calculate .price_block .price {
color:#f67953;
font:24px 'Century Gothic';
line-height:24px;
font-weight:bold;
margin:0 2px 0 10px;
}




/* Bottom */ 

.bottom {
width:980px;
margin:0 auto;
text-align:center;
padding:85px 0 0 0;
font-size:12px;
line-height:18px;
}


/* End Bottom */

#menu-menu_client li {line-height:23px;}
#menu-menu_client a {font-size:14px}
#menu-menu_client #menu-item-296 a  {padding-left:20px; background: url('/images/icons1.png') no-repeat 0 0}
#menu-menu_client #menu-item-292 a  {padding-left:20px; background: url('/images/icons1.png') no-repeat 0 -20px}



.menu-shortcode_clients-container {padding-bottom:50px !important;}
#menu-shortcode_clients li {float:left; margin-left:20px;font-size:16px;}
/*#menu-shortcode_clients li a {padding:10px;}*/
#menu-shortcode_clients {position:absolute; right:5px}


.my_btn, #menu-menu_main  a{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #addefa), color-stop(1, #7db5de));
background: -moz-linear-gradient(top, #addefa 5%, #7db5de 100%);
background: -webkit-linear-gradient(top, #addefa 5%, #7db5de 100%);
background: -o-linear-gradient(top, #addefa 5%, #7db5de 100%);
background: -ms-linear-gradient(top, #addefa 5%, #7db5de 100%);
background: linear-gradient(to bottom, #addefa 5%, #7db5de 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#addefa', endColorstr='#7db5de',GradientType=0);
background-color: #addefa;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #7db5de;
display: inline-block;
color: #ffffff !important;
padding: 4px 24px;
text-decoration: none;
text-shadow: 0px 1px 0px #7db5de;


}

.dizajn-potolkov {
font-size: 20px;
line-height: 20px;
margin-bottom:10px;
margin-top:10px;
width:185px;
height:70px;
text-align:center;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #addefa), color-stop(1, #af006d));
background: -moz-linear-gradient(top, #13a6ec 5%, #af006d 100%);
background: -webkit-linear-gradient(top, #13a6ec 5%, #af006d 100%);
background: -o-linear-gradient(top, #13a6ec 5%, #af006d 100%);
background: -ms-linear-gradient(top, #13a6ec 5%, #af006d 100%);
background: linear-gradient(to bottom, #13a6ec 5%, #af006d 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#13a6ec', endColorstr='#af006d',GradientType=0);


}

.potolki-svoimi-rukami {
font-size: 20px;
line-height: 20px;
margin-bottom:10px;
margin-top:10px;
width:185px;
height:100px;
text-align:center;
 background-image: -webkit-linear-gradient(top, #FF5E00, #FFEE05);
 background-image: -moz-linear-gradient(top, #FF5E00, #FFEE05);
 background-image: -ms-linear-gradient(top, #FF5E00, #FFEE05);
 background-image: -o-linear-gradient(top, #FF5E00, #FFEE05);
 background-image: linear-gradient(to bottom, #FF5E00, #FFEE05);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF5E00, endColorstr=#FFEE05);


}




#menu-shortcode_clients a:hover {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #75a639), color-stop(1, #20713a));
background: -moz-linear-gradient(top, #75a639 5%, #20713a 100%);
background: -webkit-linear-gradient(top, #75a639 5%, #20713a 100%);
background: -o-linear-gradient(top, #75a639 5%, #20713a 100%);
background: -ms-linear-gradient(top, #75a639 5%, #20713a 100%);
background: linear-gradient(to bottom, #75a639 5%, #20713a 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75a639', endColorstr='#20713a',GradientType=0);
color: #ffffff !important;
background-color: #75a639;
}

.ntn_color2, #menu-shortcode_clients a,input[type=submit] {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #20713a), color-stop(1, #75a639));
background: -moz-linear-gradient(top, #20713a 5%, #75a639 100%);
background: -webkit-linear-gradient(top, #20713a 5%, #75a639 100%);
background: -o-linear-gradient(top, #20713a 5%, #75a639 100%);
background: -ms-linear-gradient(top, #20713a 5%, #75a639 100%);
background: linear-gradient(to bottom, #20713a 5%, #75a639 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#20713a', endColorstr='#75a639',GradientType=0);
background-color: #20713a;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;
border: 1px solid #75a639;
display: inline-block;
color: #ffffff !important;
padding: 4px 24px;
text-decoration: none;
text-shadow: 0px 1px 0px #75a639;
}









#menu-menu_main  a {width:185px;}



.menu_left_block {background:none; border:none;}
.menu_left_block ul { margin-left:-30px; margin-top:-15px;}
/*.menu_left_block li {border-bottom:1px solid blue}*/

.coin-slider:before {
content: '';
/*bottom: -55px;
left: -50px;
*/
margin-top:141px;
margin-left:-53px;
position: absolute;
z-index: 10;
width: 823px;
height: 196px;
background: url('/images/slider_fon.png') no-repeat 0 0;
}




.btn,#menu-item-328 a,#menu-item-329 a {
/*position:absolute;
right:0px;
bottom:15px;*/
/*width:116px;*/
padding:0 5px;
margin:5px;
height:33px;
color:#f67953;
font-size:16px;
font-style:italic;
text-align:center;
display:inline-block;
line-height:30px;
background: #a0e8fa; /* for non-css3 browsers */ 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9faff', endColorstr='#a0e8fa'); /* для IE6-9 */
background: -webkit-linear-gradient(top, #d9faff, #a0e8fa); /* для webkit-браузеров */
background: -moz-linear-gradient(top,  #d9faff,  #a0e8fa); /* для firefox 3.6+ */ 
background: -o-linear-gradient(top,  #d9faff,  #a0e8fa); /* для Opera 11.10+ */
background: -ms-linear-gradient(top,  #d9faff,  #a0e8fa); /* для IE10+ */
background: linear-gradient(top,  #d9faff,  #a0e8fa); /* W3C */
border:1px #499eb3 solid;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
behavior: url(css/PIE.htc);
}





#menu-menu_main a {font-size:20px; line-height:26px;}
/*#menu-item-119 {padding-top:40px}*/   /*dileram*/
.menu_left_block {height:258px;}
.clear {clear:both}

h2, .title, h3.widget-title {font-size: 18px;
color: #de2c2c;
line-height: 24px;
margin-bottom: 9px;
}

.menu_left2 li,#menu-menu_bottom li {margin:auto;line-height: 20px;}
.menu_left2 ul, #menu-menu_bottom ul {margin: 10px;}

.more a.more {
background: #0066CC;
font-size: 12px;
color: #fff;
text-decoration: none;
padding: 6px 16px;
margin: 5px 18px 0 0px;
float: right;
}



.post {
/*	background: #f8f8f8;*/
	padding: 9px;
	margin-bottom: 18px;
	}

.catalog h2  {
margin-top: 5px !important;
font-size: 18px !important;
color: #666 !important;
font-weight: normal !important;
}



.content table td{
border: 1px solid #666 !important;
font-size: 12px !important;
color: #666 !important;
}



/* Images */
.alignnone {
	margin-top:10px;
	margin-bottom:10px	;	
}
.alignleft {
	float: left;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}
.alignright {
	float: right;
	margin-top:10px;
	margin-bottom:10px	;
}
.aligncenter {
	display: block;
	margin-top:10px;
	margin-bottom:10px	;
	margin-left: auto;
	margin-right: auto;
}


header .telBasket {
position: absolute;
margin: 16px 0 0 815px;
z-index: 9999;
}

.content h2 {
margin-top: 25px;
font-size: 18px !important;
color: #666 !important;
font-weight: normal !important;
}
.content h3  {
margin-top: 20px;
font-size: 16px !important;
color: #666 !important;
font-weight: normal !important;
}

.entry-title {
font-size: 25px !important;
color: #666 !important;
}

.widget-title {
margin-top: 20px;
font-size: 18px;
color: #666;
font-weight: normal !important;
}

#nav_menu-2 li {
font-size: 12px;
margin: 10px;
}

.content li {
list-style: disc;
font-size: 14px;
color: #666;
margin-top: 5px;
}

.content ul {
list-style: disc;
margin-left: 20px;
margin-top: 5px;
}

p {
line-height: 20px;
}
header .slides {
	width: 752px; height: 230px;
	padding-top: 0px;
	position: relative;
	z-index:100;
	float: right;
}
header .slides .slides_container {
	width:752px; height: 280px;
	overflow:hidden;
	position:relative;
	display:none;
	overflow: hidden;
}
header .slides .slides_container div {
	display:block;
}
header .slides .slides_container div img {
	display:block;
	width:752px;
	height:auto;
}
header .slides .slides_container .itSlide {
	width:752px; height: 230px;
	display:block;
}

header .slides .pagination {
	position: absolute;
	margin-top: 11px;
	margin-left:auto;
	margin-right:auto;	
}
header .slides .pagination li {
	/*float: left;*/
}


/*
header .slides .slides_container .text {
	width: 350px;
	float: left;
	margin-left: 70px;
}

header .slides .slides_container .text span {
	font-size: 36px; color: #333399; font-weight: 100;
}
header .slides .slides_container .text p {
	font-size: 14px; color: #666;
	margin-top: 4px;
}
header .slides .slides_container .text a {
	background: url(../images/but-slide.png) repeat-x;
	width: auto; height: 34px;
	display: inline-block;
	padding: 6px 18px 0;
	font-size: 12px; color: #fff;
	text-decoration: none;
	margin-top: 23px;
}
header .slides .slides_container .img {
	width: 150px;
	float: right;
        margin-top: -36px;
}
header .slides .pagination li.current a {
	background: url(../images/bg-pagenation.png) no-repeat 1px 0;
}
header .slides .pagination li a {
	background: url(../images/bg-pagenation.png) no-repeat right;
	width: 12px; height: 12px;
	float: left;
	text-indent: -9000px;
}
header .slides .prev {
	background: url(../images/prev.png) no-repeat;
	width: 18px; height: 25px;
	display: block;
	margin: -36px 0 0 100px;
	position: absolute;
}
header .slides .next {
	background: url(../images/next.png) no-repeat;
	width: 18px; height: 25px;
	display: block;
	margin: -36px 0 0 70px;
	position: absolute;
}
*/


table.noborder td {
	border: 0 !important;	
}




.faktura {
width:140px;
height:40px;
float:left;
margin:0 10px 10px 0;
text-align:center;
box-shadow: 0 0 5px black; /* Параметры тени */
box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
border:1px solid #e0e0e0;
padding: 10px;
border-radius:10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
/*behavior: url(/css/PIE.htc);*/
}
.faktura-caption2{margin-top:-10px; margin-left:-10px}
.faktura .faktura-caption {margin-top:10px; font-weight:bold}

/*--------МАТОВЫЕ-----------*/
.faktura.M01{background:#f4f4f4}
.faktura.M93{background:#f3f4ee}
.faktura.M99{background:#f3ead9}
.faktura.M112{background:#f5f7ea}
.faktura.M42{background:#eae8d8}
.faktura.M132{background:#fbe1e0}
.faktura.M30{background:#ebc7c6}
.faktura.M22{background:#ffddbf}
.faktura.M95{background:#ffd79b}
.faktura.M04{background:#feecc2}
.faktura.M58{background:#f9e3ab}
.faktura.M05{background:#ffdc3d}
.faktura.M82{background:#fba825}
.faktura.M55{background:#91877d; color:#FFF !important;}
.faktura.M27{background:#d6d5db}
.faktura.M65{background:#d3e4db}
.faktura.M96{background:#b9d693}
.faktura.M110{background:#615644; color:#FFF !important;}
/*--------КОНЕЦ МАТОВЫЕ-----------*/

/*--------САТИНОВЫЕ-----------*/
.faktura.S01{background:#f7f8f3}
.faktura.SE01{background:#f7f7f7}
.faktura.S58{background:#fdeccf}
.faktura.S22{background:#ffebd3}
.faktura.S132{background:#ffdbc5}
.faktura.S30{background:#e0c2b1}
.faktura.S04{background:#fff9e1}
.faktura.S57{background:#f3e9c7}
.faktura.S23{background:#f9c591}
.faktura.S133{background:#f9c591}
.faktura.S99{background:#efebe0}
.faktura.S65{background:#dae7dc}
.faktura.S131{background:#d9e0b5}
.faktura.S41{background:#94bd7a}
.faktura.S27{background:#d8def0}
.faktura.S83{background:#7da9d3}
.faktura.S97{background:#282050; color:#FFF !important;}
.faktura.S08{background:#d46030}
/*--------КОНЕЦ САТИНОВЫЕ-----------*/

/*----------ЛАКОВЫЕ-----------*/
.faktura.L01{background:#ffffff}
.faktura.L100{background:#f2f2ed}
.faktura.L103{background:#e3e3e0}
.faktura.L38{background:#e4e1da}
.faktura.L53{background:#c5c1b8}
.faktura.L54{background:#c4c5c0}
.faktura.L55{background:#8c8d87}
.faktura.L28{background:#5a5a5a; color:#FFF !important;}
.faktura.L03{background:#25201c; color:#FFF !important;}
.faktura.L57{background:#fdeed7}
.faktura.L58{background:#fbeccf}
.faktura.L29{background:#eedcbe}
.faktura.L42{background:#eadcbf}
.faktura.L101{background:#ead0af}
.faktura.L40{background:#d2ba98}
.faktura.L04{background:#fbf2e2}
.faktura.L23{background:#ffdbbd}
.faktura.L79{background:#eac3a4}
.faktura.L08{background:#c97b67}
.faktura.L24{background:#f2b7ac}
.faktura.L30{background:#f1e3e0}
.faktura.L61{background:#e03427}
.faktura.L12{background:#d6282a}
.faktura.L09{background:#f9c5d6}
.faktura.L76{background:#f48382}
.faktura.L74{background:#f58b8b}
.faktura.L75{background:#e1738e}
.faktura.L39{background:#962326; color:#FFF !important;}
.faktura.L77{background:#b22327}
.faktura.L11{background:#79191a; color:#FFF !important;}
.faktura.L25{background:#541011; color:#FFF !important;}
.faktura.L405{background:#ca3a58}
.faktura.L27{background:#e3dcee}
.faktura.L91{background:#cca9c6}
.faktura.L406{background:#b181af}
.faktura.L92{background:#8b4a6f}
.faktura.L51{background:#512441; color:#FFF !important;}
.faktura.L44{background:#e1e0e8}
.faktura.L83{background:#b7c9d7}
.faktura.L26{background:#bedbdf}
.faktura.L87{background:#81b2b7}
.faktura.L84{background:#a0b6cb}
.faktura.L86{background:#6ca0c8}
.faktura.L17{background:#4c8cb8}
.faktura.L37{background:#4c6497; color:#FFF !important;}
.faktura.L85{background:#1585ac; color:#FFF !important;}
.faktura.L16{background:#00558b; color:#FFF !important;}
.faktura.L36{background:#212678; color:#FFF !important;}
.faktura.L48{background:#270d59; color:#FFF !important;}
.faktura.L15{background:#10356a; color:#FFF !important;}
.faktura.L88{background:#003161; color:#FFF !important;}
.faktura.L14{background:#00192b; color:#FFF !important;}
.faktura.L33{background:#b7d2cd}
.faktura.L67{background:#8ad2d1}
.faktura.L407{background:#38a491}
.faktura.L65{background:#e8f5ec}
.faktura.L41{background:#98ae7e}
.faktura.L72{background:#005f35; color:#FFF !important;}
.faktura.L21{background:#7ac465}
.faktura.L68{background:#a5d182}
.faktura.L47{background:#b6ae62}
.faktura.L19{background:#003519; color:#FFF !important;}
.faktura.L20{background:#018151; color:#FFF !important;}
.faktura.L35{background:#004b3e; color:#FFF !important;}
.faktura.L34{background:#009a73; color:#FFF !important;}
.faktura.L102{background:#009287; color:#FFF !important;}
.faktura.L18{background:#006a5d; color:#FFF !important;}
.faktura.L70{background:#098f48; color:#FFF !important;}
.faktura.L05{background:#ffefa1}
.faktura.L81{background:#f9f280}
.faktura.L31{background:#ffe600}
.faktura.L06{background:#ffc30b}
.faktura.L82{background:#ffd21f}
.faktura.L07{background:#fdb724}
.faktura.L60{background:#f57521}
.faktura.L62{background:#df6a24}
.faktura.L50{background:#923a22; color:#FFF !important;}
.faktura.L59{background:#e99425}
.faktura.L104{background:#bf7127; color:#FFF !important;}
.faktura.L64{background:#8f4218; color:#FFF !important;}
.faktura.L63{background:#a8511d; color:#FFF !important;}
.faktura.L105{background:#542b0e; color:#FFF !important;}
.faktura.L45{background:#3b1000; color:#FFF !important;}
.faktura.L43{background:#4b1c00; color:#FFF !important;}
/*----------КОНЕЦ ЛАКОВЫЕ-----------*/

.faktura.cl607m{background: url(/content/clipso/607m.jpg)}
.faktura.cl705-1001{background: url(/content/clipso/705-1001.jpg)}
.faktura.cl705-1002{background: url(/content/clipso/705-1002.jpg)}
.faktura.cl705-1003{background: url(/content/clipso/705-1003.jpg)}
.faktura.cl705-1004{background: url(/content/clipso/705-1004.jpg)}
.faktura.cl705-2001{background: url(/content/clipso/705-2001.jpg); color:#FFF}
.faktura.cl705-3001{background: url(/content/clipso/705-3001.jpg)}
.faktura.cl705-3002{background: url(/content/clipso/705-3002.jpg)}
.faktura.cl705-5001{background: url(/content/clipso/705-5001.jpg)}
.faktura.cl705-5002{background: url(/content/clipso/705-5002.jpg); color:#FFF}
.faktura.cl705-5003{background: url(/content/clipso/705-5003.jpg); color:#FFF}
.faktura.cl705-6001{background: url(/content/clipso/705-6001.jpg)}
.faktura.cl705-7001{background: url(/content/clipso/705-7001.jpg)}
.faktura.cl705-7002{background: url(/content/clipso/705-7002.jpg); color:#FFF}
.faktura.cl705a{background: url(/content/clipso/705a.jpg); color:#FFF}
.faktura.cl705{background: url(/content/clipso/705.jpg)}
.faktura.cl705t{background: url(/content/clipso/705t.jpg)}
.faktura.clnostain{background: url(/content/clipso/nostain.jpg)}
.faktura.clnosweat{background: url(/content/clipso/nosweat.jpg)}

.faktura.dc0090050{background: url(/content/uploads/2013/09/0090050.jpg)}
.faktura.dc0090065{background: url(/content/uploads/2013/09/0090065.jpg)}
.faktura.dc0090057{background: url(/content/uploads/2013/09/0090057.jpg)}
.faktura.dc0090068{background: url(/content/uploads/2013/09/0090068.jpg)}
.faktura.dc0090051{background: url(/content/uploads/2013/09/0090051.jpg)}
.faktura.dc0090067{background: url(/content/uploads/2013/09/0090067.jpg)}
.faktura.dc0090066{background: url(/content/uploads/2013/09/0090066.jpg)}
.faktura.dc0090064{background: url(/content/uploads/2013/09/0090064.jpg)}
.faktura.dc00900167{background: url(/content/uploads/2013/09/00900167.jpg)}
.faktura.dc00900157{background: url(/content/uploads/2013/09/00900157.jpg)}
.faktura.dc00900165{background: url(/content/uploads/2013/09/00900165.jpg)}
.faktura.dc00900164{background: url(/content/uploads/2013/09/00900164.jpg); color:#FFF}

#cont li{
list-style-type: disc;
}
#cont ul{
padding-left:20px;
}
.menu-shortcode_clients-container li{
list-style-type: none !important;
}
.menu-shortcode_clients-container {
margin-top: 15px;
}

#cont p{
margin-bottom:0 !important;
margin-top: 10px;
}
#cont h2{
margin-top: 15px;
}
#cont h3{
margin-top: 15px;
}

.menu_top li a {
color: #7db5de !important;
display: inline-block;
}

.logo_top h3 {
font-size:14px !important;
display:block  !important;
text-align: center !important;
margin: -8px 0 0 0px !important;
}
.menu-menu_client-container {
margin-top: -3px !important;
}

.menu-menu_top-container {
}

.vybor {
	width: 100%; 
	height: 50px; 
	top: 133px; 
	position: absolute;
}

.vybor a {
text-decoration: none;
}

.vybor_left {
	text-align: center; 
	width: 50%; 
	float: left; 
	height: 50px; 
	border-top-left-radius: 10px; 
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px; 
	border-bottom-left-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #addefa), color-stop(1, #7db5de)); 
	background: -moz-linear-gradient(top, #addefa 5%, #7db5de 100%); 
	background: -webkit-linear-gradient(top, #addefa 5%, #7db5de 100%); 
	background: -o-linear-gradient(top, #addefa 5%, #7db5de 100%); 
	background: -ms-linear-gradient(top, #addefa 5%, #7db5de 100%); 
	background: linear-gradient(to bottom, #addefa 5%, #7db5de 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#addefa', endColorstr='#7db5de',GradientType=0); 
	background-color: #addefa;	
}

.vybor_left a {
	font-weight: bold; 
	font-size: 25px; 
	line-height: 50px;
color: #fff; 
	
}

.vybor_right {
	text-align: center; 
	width: 50%; 
	float: left; 
	height: 50px; 
	border-top-left-radius: 0px; 
	border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px; 
	border-bottom-left-radius: 0px; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #f1f2f2), color-stop(1, #b1b3b6)); 
	background: -moz-linear-gradient(top, #f1f2f2 100%, #b1b3b6 100%); 
	background: -webkit-linear-gradient(top, #f1f2f2 100%, #b1b3b6 100%); 
	background: -o-linear-gradient(top, #f1f2f2 100%, #b1b3b6 100%); 
	background: -ms-linear-gradient(top, #f1f2f2 100%, #b1b3b6 100%); 
	background: linear-gradient(to bottom, #f1f2f2 100%, #b1b3b6 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f2f2', endColorstr='#b1b3b6',GradientType=0); 
	background-color: #f1f2f2;
}
.vybor_right a {
	font-weight: bold; 
	font-size: 25px; 
	line-height: 50px; 
	color: #7db5de;
}
.vybor_left span {
font-weight: bold; 
font-size: 25px; 
line-height: 50px; 
color: #fff;
}

footer {
margin: -150px auto 0 auto !important;
height: 160px !important;
}